<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Badruzeus (based on chris1111)</string>
	<key>Description</key>
	<string>Clover dark theme with 3D UI and logo animation supports up to 1080p display resolution.</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>FrameTime</key>
				<integer>76</integer>
				<key>Frames</key>
				<integer>84</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>GT_Logo</string>
			</dict>
			<integer>10</integer>
			<string>font.png</string>
			<string>Load</string>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Scale</key>
			<integer>5</integer>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>Logo.png</string>
		<key>Font</key>
		<dict/>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>selection_big.png</string>
			<key>Color</key>
			<string>0xFFFFFF7F</string>
			<key>Small</key>
			<string>selection_small.png</string>
		</dict>
	</dict>
	<key>Version</key>
	<string>2.1</string>
	<key>Year</key>
	<string>2017</string>
</dict>
</plist>
