html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    /* -webkit-user-select: none; */
    background-color: #333;
}

p {
    font-family: Helvetica;
}

#Container {
    /* min-height: 100%; */
    /* position:relative; */
}

#TopOfPage {
    position: fixed;
    width: 100%;
    top: 0px;
    height:68px;
    background-color: #333;
    z-index:2;
    opacity: 0.95;
}

#InitTopOfPage {
    position: fixed;
    width: 100%;
    top: 0px;
    height:74px;
    border-bottom: 2px solid #333;
    padding: 16px 0 8px 28px;
    background-color: #737075;
    background-image: -moz-linear-gradient(center top , #737075, #59565b);
    background-image: -webkit-linear-gradient(top, #737075, #59565b);
}

#TopOfHelpPage {
    position: fixed;
    width: 100%;
    top: 0px;
    height:24px;
    background-color: #333;
    z-index:2;
    opacity: 0.95;
}

#CheckingUpdatesMessage {
    position: absolute;
    float: left;
    margin: 0;
    background-color: #333;
    width: 100%;
    height:32px;
    display:none;
}

#PathSelector {
    width: 51%;
    float: left;
    margin: 5px 0px 5px 24px;
    outline: none;
}

#PathSelector select {
    width: 98%;
    max-width: 98% !important;
}

select.custom-dropdown {
    -webkit-appearance: none;
    border: 0 !important;
    outline: none;                                        
    color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px 2px 2px 10px;
    cursor: pointer;
    background: #555 url(../assets/dropdown_arrow.png) no-repeat right center;
    background-size: 19px 19px;
}

select.custom-dropdown:hover {
    background: #b6b6b6 url(../assets/dropdown_arrow.png) no-repeat right center;
    color: #333;
}

#OpenPathButton {
    display: none;
}

#OpenButton {
    width: 60px;
    margin: 7px 0px 0px 0px;
    float: left;
}

.openButton {
    background: #555;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-family: helvetica;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.openButton:hover {
    background-image: -webkit-linear-gradient(top, #e5e5e5, #b6b6b6);
    color:#333;
}

#ThemeCount {
    width: 21%;
    margin: 6px 0px 0px 0px;
    float: right;
}

#FreeSpace {
    width: 16%;
    margin: 6px 0px 0px 4px;
    text-align: center;
    float: left;
}

.textMessage {
    font-family: Helvetica;
    font-size: 14px;
    color: #FFF;
    text-align:center;
    padding-top:9px;
    height: 100%;
}

#cornerBanner {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
}

#LogoHeader {
    width:100%;
    height:440px;
    background: url(../assets/init_page_image.png); background-repeat: no-repeat;
    background-position:center;
    margin-top: 0px;
}

#homePageProgressBar {
    height: 12px;
    margin: 0px 330px 12px 330px;
}

#InitLog {
    overflow-y: auto;
    overflow-x: hidden;
    background-color:#222;
    border: 1px solid #333;
    top: 132px;
    bottom: 275px;
    width:440px;
    height: 292px;
    /* margin: 48px 207px 48px 207px; */
    margin: 48px 207px 48px 160px;    
    position: fixed;
    opacity: 0.5;
}

.initLogText {
    font-family: Helvetica;
    font-size: 8px;
    line-height: 9px;
    color: #FFF; /*#3ef14b;*/
    text-align:left;
    padding: 4px 0px 4px 16px;
}

#HeaderBar {
    height: 24px;
    /*background-color: #888888;*/
    background-image: -webkit-linear-gradient(top, rgba(111,111,111,1) 0%,rgba(0,0,0,1) 100%); 
    padding:5px 130px 5px 20px;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 0px;
    color: #FFF;
    clear: both;
    opacity: 0.85;
}

#ThemeList {
    /*margin-top: 68px;
    margin-bottom: 74px;*/
}

#OptionsBar {
    height: 24px;
    background-color: #888888;
    padding:5px 0 5px 20px;
}

#WelcomeMessage {
    margin:74px 0px 0px 0px;
    /*padding:0px 8px 0px 8px;*/
    line-height: 2px;
}

.textHeading {
    font-family: Helvetica;
    font-size: 28px;
    font-weight:bold;
    color: #FFF;
    text-align:center;
}

.textSubHeading {
    font-family: Helvetica;
    font-size: 24px;
    color: #33FF33;
    text-align:center;
    margin-top: 32px;
}

.textSubSubHeading {
    font-family: Helvetica;
    font-size: 14px;
    color: #CCC;
    text-align:center;
    margin-top: 28px;
}

.textVersion {
    font-family: Helvetica;
    font-size: 16px;
    color: #ccc;
    text-align:center;
    margin-top: 32px;
}

.textBody {
    font-family: Helvetica;
    font-size: 12px;
    color: #FFF;
    text-align:left;
}

.textHeaderSmall {
    font-family: Helvetica;
    font-size: 10px;
    color: #a1a1a1;
    -webkit-user-select: none;
}

.textFreeSpace {
    font-family: Helvetica;
    font-size: 12px;
    color: #3ef14b;
    vertical-align: bottom;
    -webkit-user-select: none;
}

.textThemeCount {
    font-family: Helvetica;
    font-size: 12px;
    color: #FFF;
    text-align: right;
    vertical-align: bottom;
    -webkit-user-select: none;
}

.textFooter {
    font-family: Helvetica;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    margin-top:10px;
}

.textHeaderPreview {
    margin: 0px 0px 0px 40px;
    float: left;
}

.textHeaderDescription {
    margin: 13px 0px 0px 44px;
    float: left;
}

.textHeaderInstalled {
    margin: 13px 50px 0px 0px;
    float: right;
}

.textHeaderOptions {
    margin: 13px 60px 0px 80px;
    float: right;
}

a:link, a:visited {
    color: #BBB;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

#ThemeListSpacerTop {
    height: 68px;
    clear: both;
}

#ThemeListSpacerBottom {
    height: 32px;
    clear: both;
}

#SpacerTop {
    height: 34px;
    clear: both;
}

#SpacerBottom {
    height: 37px;
    clear: both;
}

#ThemeBand {
    height: 72px;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #878787;
    clear: both;
    overflow: hidden; /* Added to not show gap at bottom in Safari */
}

#ThemeItems {
    display: inline;
}

#ThemeText {
    float: left;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index:1;
}

#ThemeText p {
    display: table-row;
}

.versionControl {
    margin: 28px 12px 0px 0px;
    float: right;
    font-family: Helvetica;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    color:#666;
    cursor: pointer;
}

.thumbnail {
    margin: 8px 16px 0px 30px;
    float: left;
    cursor:pointer;
}

.thumbnail img {
    width: 100px;
    height: 56px;
}


.thumbnail:hover {
    opacity:0.5;
}

.themeTitle {
    font-size: 14px;
    font-weight: bold;
}

.themeDescription {
    font-size: 12px;
    font-weight: normal;
}

.themeAuthor {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.buttonInstall {
    background-color: #49c0f0;
    background-image: -moz-linear-gradient(center top , #49c0f0, #2cafe3);
    background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
    border: 1px solid #15aeec;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 24px 8px 0 0;
    padding: 2px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
    width: 72px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.buttonInstall:hover {
    background-color: #bbdbf5;
    background-image: -moz-linear-gradient(center top , #bbdbf5, #b0d1ee);
    background-image: -webkit-linear-gradient(top, #bbdbf5, #b0d1ee);
    border: 1px solid #afd1f3;
}

.buttonInstall:active {
    background-color: #caecfa;
    background-image: -moz-linear-gradient(center top , #caecfa, #c3e7f6);
    background-image: -webkit-linear-gradient(top, #caecfa, #c3e7f6);
    border: 1px solid #bee7f9;
}

.buttonUnInstall {
    background-color: #a90329;
    background-image: -moz-linear-gradient(center top , #a90329, #6d0019);
    background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
    border: 1px solid #72021c;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 24px 8px 0 0;
    padding: 2px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
    width: 72px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.buttonUnInstall:hover {
    background-color: #bf6e83;
    background-image: -moz-linear-gradient(center top , #bf6e83, #a16976);
    background-image: -webkit-linear-gradient(top, #bf6e83, #a16976);
    border: 1px solid #a36978;
}

.buttonUnInstall:active {
    background-color: #dfb6c0;
    background-image: -moz-linear-gradient(center top , #dfb6c0, #d0b4ba);
    background-image: -webkit-linear-gradient(top, #dfb6c0, #d0b4ba);
    border: 1px solid #d1b4bb;
}

.buttonUpdate {
    background-color: #a198e2;
    background-image: -moz-linear-gradient(center top , #a198e2, #9488d6);
    background-image: -webkit-linear-gradient(top, #a198e2, #9488d6);
    border: 1px solid #9686dd;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 24px 8px 0 0;
    padding: 2px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
    width: 72px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.buttonUpdate:hover {
    background-color: #c7c1ee;
    background-image: -moz-linear-gradient(center top , #c7c1ee, #bfb8e6);
    background-image: -webkit-linear-gradient(top, #c7c1ee, #bfb8e6);
    border: 1px solid #c0b6eb;
}

.feedbackButton {
    background-color: #a198e2;
    background-image: -moz-linear-gradient(center top , #a198e2, #9488d6);
    background-image: -webkit-linear-gradient(top, #a198e2, #9488d6);
    border: 1px solid #9686dd;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 24px 8px 0 0;
    padding: 2px;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
    width: 72px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.feedbackButton:hover {
    background-color: #c7c1ee;
    background-image: -moz-linear-gradient(center top , #c7c1ee, #bfb8e6);
    background-image: -webkit-linear-gradient(top, #c7c1ee, #bfb8e6);
    border: 1px solid #c0b6eb;
}

.toggleButton {
    background-image: -webkit-linear-gradient(top, rgba(110,110,110,1) 0%,rgba(0,0,0,1) 100%); 
    border: 1px solid #282828;
    border-radius: 4px;
    color: #FFF;
    float: right;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 1px 40px 0px 0px;
    width: 120px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
}

.toggleButton:hover {
    border: 1px solid #AAA !important;
}

.toggleButton:active {
    background: #888 !important;
}

.toggleButtonSml {
    background-image: -webkit-linear-gradient(top, rgba(110,110,110,1) 0%,rgba(0,0,0,1) 100%); 
    border: 1px solid #282828;
    border-radius: 4px;
    color: #FFF;
    float: left;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 1px 0px 0px 12px;
    width: 40px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
}

.toggleButtonSml:hover {
    border: 1px solid #AAA !important;
}

.toggleButtonSml:active {
    background: #888 !important;
}

.accordion {
    background-image: -webkit-linear-gradient(top, #ece9ec, #d8d5d8);
}

.accordionInstalled {
    background-image: -webkit-linear-gradient(top, #e9f6e2, #d7e4d0);
}

.accordionUpdate {
    background-image: -webkit-linear-gradient(top, #daf0ff, #bfedf5);
}

.accordionContent {	
	width: 100%;
	float: left;
	background: #FFF;
	display: none;
	line-height: 0;
}

#ConfigureContent {
    margin:5% 10% 0% 10%;
}

table {
    border-collapse:collapse    /* Remove table borders */
}

#AboveFooter {
    position: fixed;
    width: 100%;
    bottom: 36px;
    height: 36px;
    border-top: 2px solid #333;
    background-image: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(142,142,142,1) 100%); 
    z-index:2;
    opacity: 0.95;
}

#NvramInfo {
    width: 38%;
    margin: 7px 8px 5px 24px;
    float: left;
    font-weight: bold;
}

#NvramThemeMatch {
    width: 30%;
    margin: 7px 0px 5px 0px;
    float: left;
    text-align: center;
    font-weight: bold;
}

#NvramThemeSelector {
    width: 20%;
    float: right;
    margin: 6px 24px 5px 5px;
}

#NvramThemeSelector select {
    width: 98%;
    max-width: 98% !important;
}

#Footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 36px;
    border-top: 2px solid #333;
    background-color: #737075;
    /*background-image: -moz-linear-gradient(center top , #737075, #59565b);
    background-image: -webkit-linear-gradient(top, #737075, #59565b);*/
    background-image: -webkit-linear-gradient(top, rgba(9,10,9,1) 0%,rgba(20,22,22,1) 31%,rgba(27,31,29,1) 65%,rgba(7,7,7,1) 100%);
    z-index:2;
}

#MessageBoxProgressBar {
    width: 410px;
    height: 22px;
    border: 1px solid #CCC;
}
 
#MessageBoxProgressBar div {
    height: 100%;
    width: 0;
}

.jquery-ui-like {
	border-radius: 4px;
	background: #FFF;
	border: 1px solid #AAA;
	overflow: hidden;		
}
.jquery-ui-like div {
	background-image: url(../assets/progressbar_stages.gif);
	border-right: 1px solid #AAA;
}

/*
The following overlay and box css is originally from a tutorial by Mary Lou
http://tympanus.net/codrops/2009/12/03/css-and-jquery-tutorial-overlay-with-slide-out-box/
*/

.overlay {
    background:transparent url(../assets/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.overlayTwo {
    background:transparent url(../assets/overlay.png) repeat top left;
    position:fixed;
    top:32px;   /* same height as .meterTwo */
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.box {
    position:fixed;
    top:-300px;   /* Starting position = should match click function animate({'top':'300px'} in js */
    left:20%;
    right:20%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

a.boxclose {
    float:right;
    width:26px;
    height:26px;
    background:transparent url(../assets/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}

.box h1 {
    margin:-20px -20px 0px -20px;
    padding:10px 10px 10px 20px;
    background-color:#1e8ec6;
    font-family: Helvetica;
    font-size: 24px;
    color:#c4e0ee;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

/* Using progress bars originally by Chris Coyier
/* http://css-tricks.com/css3-progress-bars/ */

.meter { 
    height: 32px;
    position: relative;
}

.meter > span {
    display: block;
    height: 100%;
    background-color: #cbd1d6;
    background-image: -webkit-linear-gradient(#cbd1d6, #6d8396);
    position: relative;
    overflow: hidden;
}
		
.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: 
        -webkit-gradient(linear, 0 0, 100% 100%, 
            color-stop(.25, rgba(255, 255, 255, .2)), 
            color-stop(.25, transparent), color-stop(.5, transparent), 
            color-stop(.5, rgba(255, 255, 255, .2)), 
            color-stop(.75, rgba(255, 255, 255, .2)), 
            color-stop(.75, transparent), to(transparent)
        );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}

.meterTwo { 
    height: 32px; /* Same height as .overlayTwo */
    position: relative;
}

.meterTwo > span {
    display: block;
    height: 100%;
    background-color: #cbd1d6;
    /* Use http://www.colorzilla.com/gradient-editor/ for gradient */
    background-image: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    position: relative;
    overflow: hidden;
}
		
.meterTwo > span:after, .animate > span > span {

    font-family: helvetica;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
    padding: 8px 0px 0px 20px;
    content: "Listing installed themes on this volume. Cross checking cloned themes match pref entries. Checking updates...";
    
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: 
        -webkit-gradient(linear, 0 0, 100% 100%, 
            color-stop(.25, rgba(255, 255, 255, .2)), 
            color-stop(.25, transparent), color-stop(.5, transparent), 
            color-stop(.5, rgba(255, 255, 255, .2)), 
            color-stop(.75, rgba(255, 255, 255, .2)), 
            color-stop(.75, transparent), to(transparent)
        );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
